@import "font-style.css";
body {
  background: #0B2A08;
  color: #dcdec6;
  text-align: center;
  direction: rtl;
}


@keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

@-webkit-keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
  
}

h1 {
  font-family: 'Lalezar', 'vazir' !important;
  font-size: 50px;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #A3FF00;
}

p {
  text-align: center;
  margin: 18px;

  font-weight: normal;
  
}

.icons {
  text-align: center;
  
}

.icons i {
  color: #0B2A08;
  background: #dcdec6;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #dcdec6;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;

}

.icons i:hover, .icons i:active {
  color: #dcdec6;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
  
}